:root{
  --primary-color:#4F46E5;
  --secondary-color:#F28D35;
  --analogous-color1:#6A44F2;
  --analogous-color2:#1CBDDD;
  --triadic-color1:#52378C;
  --dark-color:#78BF91;
  --text-color:#2F2F2F;
  --text-color-subtle:#9C9991;
  --text-color-light:#545A75;
  --accent-color1:#E2F2FE;
  --accent-color2:#FFF8E0;
  --error-color:#FF0335;
  --success-color:#5EB30B;



}